<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
<p>
  <strong>Members:</strong>
  <% @result.each do |member| %>
 	 <li><b><%= member[:email]%></b>
 	 	<% member[:expenses].each do |expense|%>
 	 		<li><%= expense[:description] %>
 	 			<%=expense[:value]%>
 	 		</li>
 		<%end%>
 	 </li>

 <%end%>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
